* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    background-image: url('./midia/back-wallp\ \(1\).png'); 
    background-color: rgba(0, 123, 255, 0.3); 
    background-size: cover; 
    background-position: center;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}


.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header {
   
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    margin-bottom: 30px;

}
.textboas {
    
    font-size: 1.2rem; 
    margin-right: 20px; 
}

.header p {
    justify-content: space-between;
    font-size: 1.2rem;
    color: #e97b37;
    align-items: center;
}

.btn {
    background-color: #e97b37;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #d36b31;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    
}

.table th, .table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table th {
    background-color: #e97b37;
    color: white;
   
}

.table td {
    background-color: #f9f9f9;
    
}

.btn-table {
    padding: 5px 10px;
    background-color: #2ecc71;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    border-color: #2ecc71;
    transition: background-color 0.3s;
}

.btndelete{
    padding: 10px 10px;
    background-color: #2ecc71;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    transition: background-color 0.3s;
}

.btn-table:hover {
    background-color: #27ae60;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

input[type="text"], input[type="number"] {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
}
textarea {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    resize: vertical; 
}

.btn-submit {
    background-color: #e97b37;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-submit:hover {
    background-color: #d36b31;
}
